* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
  }
  
ol, ul, li {
    list-style:none;
    display:block;
  }

table {
    border-collapse:collapse;
    border-spacing:0
  }
  
a img {
    border: none
  }
  
button, a {
    cursor: pointer;
    color: inherit
  }
  
textarea {
    resize: none
  }
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
  }

#cards
{
    display: grid;
    gap: 10px;

    height: 100vh;

    @media screen and (max-width: 300px) {
      grid-template-columns: auto;
    }

    @media screen and (min-width:301px) and (max-width: 600px) {
      grid-template-columns: auto auto;
    }

    @media screen and (min-width:601px) and (max-width: 900px) {
      grid-template-columns: repeat(3,auto);
    }

    @media screen and (min-width:901px) and (max-width: 1200px) {
      grid-template-columns: repeat(4,auto);
    }

    @media screen and (min-width:1201px){
      grid-template-columns: repeat(5,auto);
    }

    div
    {
      padding: 10px;
      border: 2px solid  yellow;

      font-size: 20px;
      color: yellow;
      background-color: #17141d;
    }
}
/*
primary axis by default row (alapértelmezetten: flex-direction: row) aka. vízszintes aka. horizontális  aka x tengely
secondary axis by default column aka. függőleges aka. vertikális aka y tengely

viszont ha azt mondjuk, hogy flex-direction: column; akkor megfordul és 
column aka. függőleges aka. vertikális aka. y tengely lesz a primary
és a
row aka. vízszintes aka. horizontális aka. x tengely lesz a secondary
*/